<mat-sidenav-container fullscreen>
  <app-toolbar class="mat-elevation-z5"></app-toolbar>
  <div class="content-style">
      <div class="left-panel">
          <router-outlet></router-outlet>
      </div>
      <div class="right-panel">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Материкин В.В.</mat-card-title>
                <mat-card-subtitle>ИДБ-15-14</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Данная страница посвящена отчетам по дисциплине "Проектирование информационных систем" (2019)
                </p>
              </mat-card-content>
              <mat-card-actions>
                  <a mat-button target="_blank" href="https://github.com/Viska97/design2019">Github</a>
              </mat-card-actions>
            </mat-card>
      </div>
  </div>
</mat-sidenav-container>
